<h2>Sign up</h2>

<div class="row">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <!-- email -->
    <div class="large-3 columns">
      <%= f.label :email %>
    </div>

    <div class="large-9 columns">
      <%= f.email_field :email, :autofocus => true %>
    </div>


    <!-- handle -->
    <div class="large-3 columns">
      <%= f.label :handle %>
    </div>

    <div class="large-9 columns">
      <%= f.text_field :handle %>
    </div>

    <!-- password -->
    <div class="large-3 columns">
      <%= f.label :password %>
    </div>

    <div class="large-9 columns">
      <%= f.password_field :password %>
    </div>



    <!-- password confirm -->
    <div class="large-3 columns">
      <%= f.label :password_confirmation %>
    </div>

    <div class="large-9 columns">
      <%= f.password_field :password_confirmation %>
    </div>




    <div><%= f.submit "Sign up", class: 'button' %></div>
  <% end %>
</div><!-- row -->
<%= render "devise/shared/links" %>
