<%= form_for(@user_message) do |f| %>
  <% if @user_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_message.errors.count, "error") %> prohibited this user_message from being saved:</h2>

      <ul>
      <% @user_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :from_user_id, value: current_user.id  %>
  </div>


  
   <%= collection_select(:user_message, :to_user_id, User.all, :id, :handle, prompt: true)   %>


  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'button'  %>
  </div>

<% end %>
